.ex-01{
    width: 300px;
    height: 100px;
    padding: 15px;
    background-color: coral;
    box-shadow: 10px 10px;
}

.ex-02{
    width: 300px;
    height: 100px;
    padding: 15px;
    background-color: coral;
    box-shadow: 10px 10px lightblue;
}

.ex-03{
    width: 300px;
    height: 100px;
    padding: 15px;
    background-color: coral;
    box-shadow: 10px 10px 5px lightblue;
}

.ex-04{
    width: 300px;
    height: 100px;
    padding: 15px;
    background-color: coral;
    box-shadow: 10px 10px 5px 12px lightblue;
}

.ex-05{
    width: 300px;
    height: 100px;
    padding: 15px;
    background-color: coral;
    box-shadow: 10px 10px 5px lightblue inset;
}

.ex-06{
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 5px blue, 10px 10px red, 15px 15px green;
    margin: 20px;
}

.ex-07{
    border: 1px solid;
    padding: 10px;
    box-shadow: 2px 2px 8px blue, 10px 10px 8px red, 15px 15px 8px green;
}

div.card-01{
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

div.header-01{
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 40px;
}

div.cont-01{
    padding: 10px;
}

div.polaroid{
    width: 250px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

div.cont-02{
    padding: 10px;
}