.tooltip-01{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-01 .tooltiptext-01 {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: white;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    position: absolute;
    z-index: 1;
}

.tooltip-01:hover .tooltiptext-01 {
    visibility: visible;
}

.tooltip-02{
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.tooltip-02 .tooltiptext-02{
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 150%;
    left: 50%;
    margin-left: -60px;
}

.tooltiptext-02 .tooltiptext-02::after {
    content: " ";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black transparent;
}

.tooltip-02:hover .tooltiptext-02{
    visibility: visible;
}