.grid-container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container > div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 1.875em;
}

.grid-container-2{
    display: grid;
    grid-template-columns: 80px 200px auto 30px;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container-2 > div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 1.875em;
}

.grid-container-3{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: 80px 200px;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container-3 > div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 1.875em;
}

.grid-container-4{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 50px 50px 50px;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container-4 > div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 1.875em;
}

.grid-container-5{
    display: grid;
    justify-content: space-around;
    grid-template-columns: 50px 50px 50px;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container-5 > div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 1.875em;
}

.grid-container-6{
    display: grid;
    justify-content: space-between;
    grid-template-columns: 50px 50px 50px;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container-6 > div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 1.875em;
}

.grid-container-7{
    display: grid;
    justify-content: center;
    grid-template-columns: 50px 50px 50px;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container-7 > div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 1.875em;
}

.grid-container-8{
    display: grid;
    justify-content: start;
    grid-template-columns: 50px 50px 50px;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container-8 > div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 1.875em;
}

.grid-container-9{
    display: grid;
    justify-content: end;
    grid-template-columns: 50px 50px 50px;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container-9 > div{
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 1.875em;
}

.grid-container-10{
    display: grid;
    height: 400px;
    align-content: center;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container-10 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 1.875em;
}

.grid-container-11{
    display: grid;
    height: 400px;
    align-content: space-evenly;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container-11 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 1.875em;
}

.grid-container-12{
    display: grid;
    height: 400px;
    align-content: space-around;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container-12 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 1.875em;
}

.grid-container-13{
    display: grid;
    height: 400px;
    align-content: space-between;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container-13 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 1.875em;
}

.grid-container-14{
    display: grid;
    height: 400px;
    align-content: start;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container-14 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 1.875em;
}

.grid-container-15{
    display: grid;
    height: 400px;
    align-content: end;
    grid-template-columns: auto auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.grid-container-15 > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 1.875em;
}